:root {
  font-family: monospace;
  
  font-size: 16px;
  
  /**
   * Disables rubber band effect on ios
   */
  position: fixed;
  width: 100%;
  
  /**
   * Disables text selection
   * for a more app-like experience.
   */
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  
  overflow: hidden;  
}