name: Build app and run tests

on:
  pull_request:
    branches: ["**"]

concurrency:
  # Cancel in progress runs for this branch
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: latest
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - name: Install Dependencies
        run: pnpm install
        shell: sh
      - name: Build Application
        run: pnpm run build
        shell: sh
      - name: Run Tests
        run: pnpm run test.docker.ci
        shell: sh
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
